<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marko.vips_artikli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ArtikliActivity" />
        <activity android:name=".RegistriActivity" />
        <activity android:name=".KomitentiActivity" />
        <activity
            android:name=".App1DokumentiActivity"
            android:label="@string/NaslovApp1Dokumenti" />
        <activity
            android:name=".App1UnosZaglavljaActivity"
            android:label="@string/NoviDokument" />
        <activity android:name=".PretragaKomitenata_Tipova_Podtipova_PJKomitenata_Activity" />
        <activity
            android:name=".App1UnosStavkeActivity"
            android:label="@string/NovaStavka" />
        <activity
            android:name=".App1StavkeActivity"
            android:label="@string/NaslovApp1Stavke" />
        <activity
            android:name=".PostavkeActivity"
            android:label="@string/PostavkeNaslov" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".PinActivity" />
        <activity android:name=".App2DokumentiActivity" />
        <activity android:name=".App2StavkeActivity" />
        <activity android:name=".App2UnosKolicine" />
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log" />
        <activity android:name=".filterPretragaDokumenataActivity"/>
    </application>

</manifest>